.main-login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: 100vh; 
    overflow: hidden; 
    background-color: #201b2c;
    margin: 0;
}

form {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
}

.login{
    color: white;
    grid-column: span 3; 
}

.textfield {
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-column: span 1; 
}

.textfield.full-width {
    grid-column: span 3;
}

.btn-login {
    grid-column: span 3;
}


.right-login {
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    overflow: hidden;
}

.card-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-column: span 3; 
    overflow: hidden;
}
.card-login h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #f0ffffde;
}

.textfield {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.textfield input {
    padding: 13px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background: #514869;
    color: #f0ffffde;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
}

.textfield input::placeholder {
    color: #f0ffff94; 
}

.textfield input:focus {
    border-color: #00ff88; 
    outline: none;
}

.textfield label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.btn-login {
    width: 100%;
    padding: 16px 0;
    margin: 25px 0;
    border: none;
    text-transform: uppercase;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88; 
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

@media only screen and (max-width: 950px) {
    .right-login {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .main-login { 
        flex-direction: column; 
    }
    .right-login {
        grid-template-columns: repeat(3, 1fr); 
    }
}
.error{
    color: black;
}