/* תואם לעיצוב של ה-login */
.main-login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: 100vh; /* למנוע גלילה אנכית */
    overflow: hidden; /* למנוע גלילה פנימית */
    background-color: #201b2c;
    margin: 0;
}

form {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 עמודות */
    gap: 20px; /* רווח בין השדות */
}

.textfield {
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-column: span 1; /* ברירת מחדל: תופס עמודה אחת */
}

.textfield.full-width {
    grid-column: span 3; /* שדות שצריכים לתפוס את כל העמודות */
}

.btn-login {
    grid-column: span 3; /* הכפתור יתפוס את כל הרוחב */
}


.right-login {
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    overflow: hidden; /* למנוע גלילה פנימית */
}

.card-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* height: 100%; */
    grid-column: span 3; /* כדי שהכותרת תתפוס את כל הרוחב */
    overflow: hidden;
}
.card-login h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #f0ffffde; /* צבע כותרת זהה ל-login */
}

.textfield {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.textfield input {
    padding: 13px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background: #514869;
    color: #f0ffffde;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
}

.textfield input::placeholder {
    color: #f0ffff94; /* צבע פלייסהולדר זהה ל-login */
}

.textfield input:focus {
    border-color: #00ff88; /* צבע focus דומה ל-login */
    outline: none;
}

.textfield label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.btn-login {
    width: 100%;
    padding: 16px 0;
    margin: 25px 0;
    border: none;
    text-transform: uppercase;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88; /* צבע כפתור דומה ל-login */
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

@media only screen and (max-width: 950px) {
    .right-login {
        grid-template-columns: 1fr 1fr; /* בגרסאות קטנות יותר, 2 טורים */
    }
}

@media only screen and (max-width: 600px) {
    .main-login { 
        flex-direction: column; 
    }
    .right-login {
        grid-template-columns: repeat(3, 1fr); /* שמירה על 3 טורים גם במסכים קטנים */
    }
}
