/* עיצוב פס הגלילה */
::-webkit-scrollbar {
  width: 10px; /* רוחב פס הגלילה */
}

::-webkit-scrollbar-track {
  background: #2f2841; /* צבע הרקע של המסילה */
}

::-webkit-scrollbar-thumb {
  background: #514869; /* צבע הידית של פס הגלילה */
  border-radius: 5px; /* עיגול הפינות */
}

::-webkit-scrollbar-thumb:hover {
  background: #00ff88; /* צבע הידית בעת מעבר העכבר */
}

.homePage {
  display: flex;
  flex-direction: column;
  margin-left: 450px; /* מניח שהרוחב של הניווט הוא 200px */
  width: calc(100% - 200px); /* מניעת גלילה ימינה */
  padding: 0;
  box-sizing: border-box;
}