.albums {
    display: flex;
    flex-direction: column; /* סידור האלבומים בטור */
    align-items: center; /* יישור תוכן לאמצע */
    margin-top: 80px; /* מרווח כדי להתרחק מהתפריט */
  }
  
  .album {
    width: 100%; /* גודל מסגרת האלבום */
    max-width: 100%; /* גודל מקסימלי */
    margin: 20px 0; /* רווח בין אלבומים */
    padding: 15px 20px; /* רווח פנימי */
    border-radius: 12px; /* פינות מעוגלות */
    color: #716c85; /* צבע טקסט */
    font-size: 1.2em; /* גודל טקסט */
    text-align: center; /* יישור טקסט במרכז */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* הצללה */
    transition: background-color 0.3s ease, transform 0.2s ease; /* אפקט מעבר */
  }
  
  .album:hover {
    transform: translateY(-5px); /* אפקט הרמה */
  }
  
  .album h2 {
    margin: 10px 0; /* רווח בין כותרות */
    font-weight: 600; /* עיצוב כותרות */
    color: #716c85; /* צבע כותרות */
  }
  